code, pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: .15em .3em;
  font-size: 90%;
  font-style: normal; /* Prevent inheritance from em */
  font-weight: normal; /* Prevent inheritance from strong */
  color: #d44950;
  background-color: #f5f5f5;
  border-radius: .15em;
}
@media (max-width: 30em) {
  code {
    word-break: break-word;
  }
}

pre {
  display: block;
  margin: 0 0 1rem;
  font-size: .875rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}
pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
}
.highlight {
  margin-bottom: 1rem;
  padding: 1rem 1.25rem;
  background-color: #f5f5f5;
  border-radius: .15rem;
}
.highlight pre {
  margin-bottom: 0;
  font-size: .875rem;
}

/* Gist via GitHub Pages */
.gist .gist-file {
  font-family: Menlo, Monaco, "Courier New", monospace !important;
}
.gist .markdown-body {
  padding: 15px;
}
.gist .highlight {
  margin-bottom: 0;
  padding: 0;
  background-color: transparent;
}
.gist pre {
  padding: 0;
  background-color: transparent;
}
.gist .gist-file .gist-data {
  font-size: 80% !important;
  line-height: 1.4;
}
.gist code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}
