/* Pagination
-------------------------------------------------- */

.pagination {
  margin-bottom: 80px;
  color: #ccc;
  text-align: center;
}
.pagination a {
  display: inline-block;
  padding: .5rem 1rem;
  margin: 0 .5rem;
}
.pagination a {
  border: .05rem solid #eee;
  border-radius: .25rem;
}
.pagination a:hover {
  text-decoration: none;
  background-color: #eee;
}
